.scroll-container,
  .scroll-area {
    max-width: 100%;
    height: 100vh;
  }

  .scroll-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .scroll-area {
    scroll-snap-align: start;
  }

  .scroll-container,
  .scroll-area {
    margin: 0 auto;
  }

main {
  margin-top: 5.5rem;
}

img {
  vertical-align: middle;
}
.cta-img {
	background-image: url(../../images/about-us-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    width: 100%;
}

.cta-banner {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.cta-wrapper {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.cta-wrapper h1,
.cta-wrapper h2 { 
    padding: 1%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 7rem;
    font-size: 70px;
}

.cta-wrapper a { 
  align-self: center;
  background-color: #E79744;
  border-radius: 3rem;
  color: #F2F2F2;
  font-size: 1.8rem;
  padding: 2rem 1.5rem;
  text-align: center;
  width: 20rem;
}
@media (min-width: 550px) {
  /*.cta-wrapper h2 {
    font-size: 2rem;
  }*/
  
}
@media (min-width: 920px) {   
/*  section styles  */
  .cta-wrapper { 
    width: 80%; 
  }  
  .cta-wrapper h1 {
    font-size: 3rem;
  }
  /*.cta-wrapper h2 {
    font-size: 2.3rem;
  }*/
  
  
}
.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.textcenter {
  text-align: center;
}
.textgreen {
  color: #a3c962 !important;
}
.context {
  line-height: 1.1rem;
}
.context h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.27rem;
  font-weight: 550;
}
.context p {
    font-size: 20px;
    font-weight: bold;
    color: grey;
    letter-spacing: 1px;
    padding: 50px 0px;
    line-height: 1.5em;
    margin-bottom: 2px;
    text-align: center;
  
}

.fern {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ferncontext {
  margin-top: 5%;
  margin-top: 3.5rem;
  margin-left: 3%;
}

.ferncontext h3 {
  margin-bottom: 15px;
}
.lightertext {
  font-weight: 100;
  font-size: 25px;
}
.ferncontext p {
  font-size: 1rem;
  color: grey;
  padding: 0px 0px;
  line-height: 28px;
  margin-bottom: 20px;
}
.container2{
	width: 100%;
}
.context2{
	width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 1rem;
}
@media screen and (max-width: 375px) {
  .cta-wrapper h1, .cta-wrapper h2 {
    padding-top: 0rem !important;
    font-size: 34px !important;
}
.context p {
   padding: 50px 30px 0px 30px !important;
    
}
}

@media screen and (max-width: 1920px){
  .textcenter h1{
    padding: 50px !important;
  }
  .container2{
    padding-top: 130px;
  }
  .context p {
    margin-top: 6.5rem !important;
    
}
}

  @media screen and (max-width: 1440px){
    .textcenter h1{
      padding: 0px !important;
    }
    .container2{
      padding-top: 0px !important;
    }
    .context p {
      margin-top: 0rem !important;
      
  }
  
}

.image-background {
  height: 100vh;
  min-height: 500px;
  background-image: url("/images/RST\ ANIMATION\ MASTER_PHOTO\ 17.jpg");
  background-size: cover;
  margin-top: 4rem;
  background-position: center;
  background-repeat: no-repeat;
}
.fgjkgjk{
  height: 90vh;
  text-align: center;
}

.display-2 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  font-size: 30px;
  font-weight: 600;
  padding-top: 27%;
}

.lead {
  text-shadow: 1px 2px black;
  font-weight: 500;
  font-size: 25px;
}


/* ==============abotier================ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: #f2f4f6;
}
.footer_get_touch_outer {
  margin-top: 80px;
}
.container {
  width: 95%;
  max-width: 1140px;
  margin: auto;
}
.grid-70-30 {
  display: grid;
  grid-template-columns: 70% 30%;
}
.get_form_inner {
  display: block;
  padding: 50px 40px;
  background: #fff;
  box-shadow: -4px -2px 20px -7px #cfd5df;
}
input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  height: 42px;
  padding: 0 0 0 20px;
  width: 100%;
  outline: 0;
}
.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-full {
  margin: 20px 0;
}
textarea {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  padding: 12px 0 0 20px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
}
.get_form_inner_text h3 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}
input[type="submit"] {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid;
  font-weight: 500;
  padding: 10px 20px;
  outline: 0;
  cursor: pointer;
  color: #103e65;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
input[type="submit"]:hover {
  background-color: #f85508;
  border-color: #f85508;
  color: #fff;
}
.get_say_form {
  display: inline-block;
  padding: 45px 0 25px 30px;
  background: #103e65;
  position: relative;
}
.get_say_form h5 {
  color: #fff;
  font-size: 26px;
  margin: 0 0 40px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.get_say_social-icn {
  display: flex;
  position: absolute;
  bottom: 40px;
}
.get_say_social-icn a {
  font-size: 22px;
  color: #fff;
  padding: 0 20px 0 0;
}
.get_say_info_sec i {
  color: #fff;
  font-size: 32px;
}
.get_say_info_sec > li {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  margin-bottom: 40px;
}
.get_say_info_sec > li a {
  width: 100%;
  display: block;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  text-decoration: unset;
  font-weight: 500;
  background: #162b65;
  border-radius: 5px 0 0 5px;
  transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.get_say_info_sec > li a:hover {
  background-color: #f85508;
}